<section class="category-list">
    <h1>Projects</h1>
    <ul id="category-list">
        <li><a href="/tags/edx">edX</a></li>
    </ul>

    <h1>Programming</h1>
    <ul id="category-list">
        <li><a href="/tags/python">Python</a></li>
        <li><a href="/tags/ruby">Ruby</a></li>
        <li><a href="/tags/nodejs">Node.js</a></li>
        <li><a href="/tags/javascript">Javascript</a></li>
        <li><a href="/tags/html">HTML</a></li>
        <li>
            <span><a href="/tags/css">CSS</a></span> / 
            <span><a href="/tags/sass">SASS</a></span>   
        </li>
    </ul>

    <h1>Devops</h1>
    <ul id="category-list">
        <li>
            <span><a href="/tags/linux">Linux</a></span> /
            <span><a href="/tags/ubuntu">Ubuntu</a></span>
        </li>
        <li>
            <span><a href="/tags/vagrant">Vagrant</a></span> /
            <span><a href="/tags/docker">Docker</a></span>
        </li>
        <li><a href="/tags/ansible">Ansible</a></li>
    </ul>
   
</section>
