<section class="category-list">
    <h1>Projects</h1>
    <ul id="category-list">
        <li>
            <span><a href="/tags/edx">edX</a></span> / 
            <span><a href="/tags/will">Will</a></span>
        </li>
    </ul>

    <h1>Programming</h1>
    <ul id="category-list">
        <li>
            <span><a href="/tags/python">Python</a></span> /
            <span><a href="/tags/ruby">Ruby</a></span> /
            <span><a href="/tags/nodejs">Node.js</a></span>
        </li>
    </ul>

</section>
