<ul class="soc">

  {% if site.github_link_button %}
    <li><a class="soc-github" href="{{ site.github_link }}"></a></li>
  {% endif %}

  {% if site.twitter_link_button %}
    <li><a class="soc-twitter" href="{{ site.twitter_link }}"></a></li>
  {% endif %}

  {% if site.pinterest_link_button %}
    <li><a class="soc-pinterest" href="{{ site.pinterest_link }}"></a></li>
  {% endif %}

  {% if site.slideshare_link_button %}
    <li><a class="soc-slideshare" href="{{ site.slideshare_link }}"></a></li>
  {% endif %}

  {% if site.email_link_button %}
    <li><a class="soc-email1 soc-icon-last" href="mailto:{{ site.email_link}}"></a></li>
  {% endif %}
</ul>
